@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'EB Garamond', 'Times New Roman', serif;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

/* Responsive image*/

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background: rgb(41, 16, 41);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 50px;
}

@media (max-width: 520px) {
    .header, .menu {
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
    }

}

.menu li a {
    display: block;
    padding: 10px;
}